<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      <div class="row  justify-content-center">
        <div class="col-lg-6">
          <h3>Developer </h3>
          <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.
            Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on
            writing your app without needing to reinvent the wheel. It’s free and open source.</p>
          <p><b>instagram: </b>gasanzade.y</p>
        </div>
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-git"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-github"></i></a>
      </div>
    </div>
  </div>
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>YH</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://instagram.com/gasanzade.y">gasanzade.y</a>
    </div>
  </div>
</footer><!-- End Footer -->